body {
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0 5px;
  }
  
  button {
    height: 40px;
    font-size: 16px;
    background-color: #0093c4;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #response {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  